{% extends 'base.html' %}

{% block base %}Dados do item{% endblock %}

{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
    <h1>Dados do item</h1>
    <form id="form" action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
    </form>
    {% if item %}
        <a href="{% url 'url_deletaItem' item.id %}"><button id="delete">Deletar</button></a>
    {% endif %}
    <br>
    <l><a href="{% url 'url_listaItem' %}"><button id="voltar">Voltar</button></a></l>
    </body>
    </html>
{% endblock %}