<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista Templates</title>
</head>
<body>
<h1>Lista de Templates cadastrados</h1>
<a href="{% url 'url_home' %}">Voltar</a>
<u>
    {% for Templates in lista_templates %}
        <li>{{ Templates }} - <a href="{% url 'url_atualizaTemplate' Templates.id %}">Atualizar</a> -
            <a href="{% url 'url_delataTemplate' Templates.id %}">Deletar</a> </li>
    {% endfor %}
</u>

<a href="{% url 'url_novoTemplate' %}">Novo Template</a>
</body>
</html>