{% extends 'base.html' %}

{% block base %}Templates{% endblock %}

{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
    <h1>Templates</h1>
    <l><a href="{% url 'url_novoTemplate' %}"><button id="button_add">Adicionar Template</button> </a></l>
    <ul id="lista_cadastrados">
        {% for Templates in lista_templates %}
            <li><a id="a_cadastros" href="{% url 'url_atualizaTemplate' Templates.id %}">{{ Templates.template_nome }}</a>
        {% endfor %}
        {% if lista_templates.count == 0 %}
            <li id="li_nenhum_registro_encontrado">Nenhum registro encontrado</li>
        {% endif %}
    </ul>
    </body>
    </html>
{% endblock %}