{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block base %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'hosts/css/base.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav id="menu">
        <ul>
            <li><a id="opcoes_menu" href="{% url 'url_home' %}">Home</a></li>
            <li><a id="opcoes_menu" href="{% url 'url_cadastroHost' %}">Hosts</a> </li>
            <li><a id="opcoes_menu" href="{% url 'url_listaTemplate' %}">Templates</a> </li>
            <li><a id="opcoes_menu" href="{% url 'url_listaItem' %}">Itens</a> </li>
        </ul>
    </nav>
    <div id="conteudo_pagina">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>